{{ define "main" }}
<div class="center-card-section">
    <h2>Experience</h2>
    {{ range site.Data.resume.experience }}
    {{ partial "resume_card_experience.html" . }}
    {{ end }}
</div>
<div class="center-card-section">
    <h2>Education</h2>
    {{ range site.Data.resume.education }}
    {{ partial "resume_card_misc.html" . }}
    {{ end }}
</div>
<div class="center-card-section">
    <h2>Projects</h2>
    {{ range site.Data.resume.projects }}
    {{ partial "resume_card_misc.html" . }}
    {{ end }}
</div>
<div class="center-card-section">
    <h2>Skills</h2>
    {{ range site.Data.resume.skills }}
    {{ partial "resume_card_misc.html" . }}
    {{ end }}
</div>
<div class="center-card-section">
    <h2>Volunteer Work</h2>
    {{ range site.Data.resume.volunteering }}
    {{ partial "resume_card_misc.html" . }}
    {{ end }}
</div>
{{ end }}
