body {
  font-family: 'Perfect DOS VGA 437 Win', sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

canvas { 
    background-color: #000000;
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60vh;
    width: 100%;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-wrapper {
  margin-top: 1ch;
  display: flex;
  flex-direction: column;
  max-width: 84ch;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

input
{
  background-color: black;
  color: white;
  font-family: 'Perfect DOS VGA 437 Win', sans-serif;
  text-align: center;
  font-size: 3rem;
  width: 8rem;
  height: 6rem;
}


